<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Meet your freinds</h1>
    <% for(post of posts) { %>
        <div>
            <h3>@<%= post.username %></h3>
            <h4>content: <%= post.content %> </h4>
        </div>
    <% } %>
        
</body>
</html>