<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new postr</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="username" type="text" name="username"><br><br>
        <textarea placeholder="content" name="content"></textarea><br><br>
        <button>Submit</button>
    </form>
    <br>
    <br>
    
</body>
</html>