<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h2>Here is your posts in detail....</h2>
    <h3>Username: <%= post.username %></h3>
    <h3>Id: <%= post.id %> </h3>
    <div>
        <h3>Post Content</h3>
        <h3><%= post.content %> </h3>
    </div>
</body>
</html>